{% extends 'home.html' %}
{% load static %}
{% block content %}

<body>
    
    <!-- Start Top Search -->
    <div class="top-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <!-- End Top Search -->

    <!-- Start All Title Box -->
    <div class="all-title-box" style="background-image:url({% static 'images/banner-0111.jpg' %});"></div>>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>MyAccount</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Myaccount</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="shop-box-inner">
        <h2><b><u>REGISTER</u></b></h2>
        <div class="login-form">
         <form>
        <label>Enter you  full name</label>
       <input type="text" id="login" class="form-control" name="login" >
       <label>Enter your mobile number</label>
       <input type="text" id="password" class="form-control" name="login"><br>
        <label>Enter your email ID</label>
       <input type="text" id="password" class="form-control" name="login" ><br>
        <label>Create Password</label>
       <input type="text" id="password" class="form-control" name="login"><br>
        <label>Confirm password</label>
       <input type="text" id="password" class="form-control" name="login" ><br>
       <input type="submit" class="btn btn-primary btn-lg" value="Register">
     </form>
        </div>
       </div>
    
    </div>
</div>
</div>


</body>
</html>




{% endblock %}